# Exercise: Python Lists

# 1. Let us say your expense for every month are listed below,
 January - 2200
 February - 2350
 March - 2600
 April - 2130
 May - 2190
 Create a list to store these monthly expenses and using that find out, 
1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [15]:
expense=[2200,2350,2600,2130,2190]

# Q.1
feb_extra=expense[1]-expense[0]
print(f'1. {feb_extra} was spend extra in feb compare to jan')

# Q.2
first_qtr=expense[0]+expense[1]+expense[2]
print(f'2. Total expense in first quarter is {first_qtr}')

# Q.3
3000 in expense

# Q.4
expense.append(1980)

# Q.5
expense[3]=expense[3]+200
print("\n The Final List",expense)

1. 150 was spend extra in feb compare to jan
2. Total expense in first quarter is 7150

 The Final List [2200, 2350, 2600, 2330, 2190, 1980]

# You have a list of your favourite marvel super heros.
 heros=['spider man','thor','hulk','iron man','captain america'],
 Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [34]:
heros=['spider man','thor','hulk','iron man','captain america']
# Q.1
print(f'1. The Length of the list is {len(heros)}')

# Q.2
heros.append('black panther')
print('2.',heros)

# Q.3
heros.remove('black panther')
heros.insert(2,'black panther')
print('3.',heros)

# Q.4
heros[1]=['doctor strange']
heros.remove('hulk')
print('4.',heros)

# Q.5    #Question wrong
heros.sort()
print('5.',heros)

1. The Length of the list is 5
2. ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
3. ['spider man', 'thor', 'black panther', 'hulk', 'iron man', 'captain america']
4. ['spider man', ['doctor strange'], 'black panther', 'iron man', 'captain america']

TypeError: '<' not supported between instances of 'list' and 'str'